

<div class="grid_container">
  <div class="block_1">
    <div class="digital_lab">
      <img src="../../assets/image.png" />
    </div>
    <div class="typsa_lab">
      <img src="../../assets/logo-grupo-Typsa-300x300-1.png" />
    </div>
  </div>
  <form (ngSubmit)="sendEmailToRecoverPass(passwordRecover)" class="block_2" #passwordRecover="ngForm">

      <div class="logo">
            <img src="../../assets/logo-grupo-Typsa-300x300-1.png"  />
      </div>

      <div class="logo_mobile">
        <div class="logo_mobile-typsa">
          <img src="../../assets/image.png" />
        </div>
        <div class="logo_mobile-lab">
          <img src="../../assets/logo-grupo-Typsa-300x300-1.png" />
        </div>
      </div>

      <div class="input-container">
        <div class="title">
          <h1>
              Indica tu correo
          </h1>
      </div>

          <div class="input-element">
              <label class="label">Email</label>
              <input ngModel name="user" placeholder="Ingresa tu correo" />
          </div>

        <div class="form-button">
          <button type="submit">
            Enviar correo de recuperación
        </button>
        <span class="form-footer-without-account">
          ¿Recuerdas tu contraseña?
          <a [routerLink]="['/login']"  class="form-footer-create-account"><span style="color: #3987fc; font-weight: 900; ">Inicia sesión</span></a>
      </span>

        </div>
      </div>


  </form>





</div>
