/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100vh !important;
  width: 100vw;
  padding: 0;
  @media (max-width: 750px) {
    margin: 0px;
  }
  // width: 97.9vw;
}
a {
  text-decoration: none;
}

