

<div class="grid_container">
  <div class="block_1">
    <div class="digital_lab">
      <img src="../../assets/image.png" />
    </div>
    <div class="typsa_lab">
      <img src="../../assets/logo-grupo-Typsa-300x300-1.png" />
    </div>
  </div>
  <form (ngSubmit)="generateANewPassword(recoverForm)" class="block_2" #recoverForm="ngForm">

      <div class="logo">
        <a [routerLink]="['']"> <img src="../../assets/logo-grupo-Typsa-300x300-1.png"  /></a>
      </div>

      <div class="input-container">
        <div class="title">
          <h2>
              ¡Recupera el acceso a tu cuenta!
          </h2>
      </div>

      <div class="input-element">
        <div class="input-element_password">
          <label class="label">Introduce tu nueva contraseña</label>
        </div>
        <input ngModel name="pass" type="password" placeholder="Ingresa tu contraseña" />
      </div>

          <div class="input-element">
            <div class="input-element_password">
              <label class="label">Repite la contraseña</label>
            </div>
            <input ngModel name="passRepeated" type="password" placeholder="Ingresa tu contraseña" />
          </div>

          <div class="form-button">
            <button type="submit">
              Crear nueva contraseña
          </button>
          </div>

      </div>


  </form>





</div>

